/.vs
WASM_Module_BitsAndDroids/MSFS/Release/WASM_Mod.A5468B35.tlog/clang-cl.delete.1.tlog
WASM_Module_BitsAndDroids/MSFS/Release/WASM_Module_BitsAndDroids.log
WASM_Module_BitsAndDroids/MSFS/Release/WASM_Module_BitsAndDroids.obj
